* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', cursive;
    padding: 24px;
}

.personal-info-section {
    display: flex;
    align-items: flex-start;
    /* width: 62%; */
}

.avatar {
    border-radius: 50%;
    margin-right: 24px;
}

.name {
    font-size: 24px;
    font-weight: 500;
}

.job-title {
    font-size: 14px;
    margin: 0 0 12px 0;
}

.description {
    font-size: 16px;
}

ul {
    padding: 12px 0px 0px 0px;
    margin: 0;
    list-style: none;
}

ul.contact-info li {
    display: inline;
    margin-right: 24px;
}

.detail-info-section {
    margin-top: 24px;
}

hr {
    margin: 0;
}

.section-title {
    font-size: 22px;
    font-weight: 500;
}

.info-item {
    margin: 12px 0;
}


.item-header {
    font-size: 16px;
}

.item-description {
    font-size: 14px;
    color: rgb(117, 117, 117);
}

.item-detail {
    font-size: 15px;
    margin-left: 16px;
}

.skill-section {
    margin: 12px 0;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}

.skill-item {
    width: 48%;
    margin-bottom: 18px;
}

.skill-name {
    font-size: 16px;
    margin-bottom: 12px;
}

.skill-bar {
    height: 12px;
    position: relative;
}

.skill-bar-break {
    position: absolute;
    top: -1px;
    right: 10%;
    width: 6px;
    height: 13px;
    background-color: rgb(255, 255, 255);
    border-left: 1px dotted rgb(170, 170, 170);
    border-right: 1px dotted rgb(170, 170, 170);
    z-index: 3;
}

.hundred-percent {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(238, 238, 238);
}

.html-skill-percent {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: rgb(117, 233, 0);
    z-index: 2;
}

.css-skill-percent {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    background-color: rgb(117, 233, 0);
    z-index: 2;
}

.js-skill-percent {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    background-color: rgb(117, 233, 0);
    z-index: 2;
}

.sql-skill-percent {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: rgb(117, 233, 0);
    z-index: 2;
}

.dart-skill-percent {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    background-color: rgb(117, 233, 0);
    z-index: 2;
}

.flutter-skill-percent {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    background-color: rgb(117, 233, 0);
    z-index: 2;
}